* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.user-main {
    min-height: 70vh;
    padding: 20px 0;
}
